<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp Stranger</title>
</head>

<body>
    <form action="/generate-link" method="POST">
        <label for="number">Stranger's Whatsapp Number</label>
        <input type="text" name="number">
        <label for="msg"></label>
        <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
        <input type="submit" value="Send Message">
    </form>

</body>

</html>
