<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp Stranger</title>
</head>
<body>
    <p>Generated Link:</p>
    <a href="https://api.whatsapp.com/send?phone=91<%= wsNumber %>&text=<%= msg %>" target="_blank">Click me</a>
</body>
</html>